<div>
	<h1>Game</h1>
	<div id="canvasContainer">
		<p> Move Around Using the Arrow Keys<br>Shoot Using "A", "W", and "D"<br>Good Luck and Have Fun</p>
		<input id="startButton" type="button" value="Start" ng-click="start()" />
		<canvas id="world" width="600" height="300">
		This browser can not run this game (canvas support missing).
		</canvas>
	</div>
</div>

<script type="text/javascript" src="js/game/lib/Game.js"></script>
<script type="text/javascript" src="js/game/lib/init.js"></script>
<script type="text/javascript" src="js/game/lib/SpriteLoader.js"></script>
<script type="text/javascript" src="js/game/lib/SoundLoader.js"></script>
<script type="text/javascript" src="js/game/lib/collider.js"></script>
<script type="text/javascript" src="js/game/lib/update.js"></script>
<script type="text/javascript" src="js/game/lib/draw.js"></script>
<script type="text/javascript" src="js/game/lib/SpriteAnimation.js"></script>
<script type="text/javascript" src="js/game/gameentities/World.js"></script>
<script type="text/javascript" src="js/game/gameentities/Bullet.js"></script>
<script type="text/javascript" src="js/game/gameentities/Player.js"></script>
<script type="text/javascript" src="js/game/gameentities/EnemyCat.js"></script>
<script type="text/javascript" src="js/game/gameentities/EnemyQuadrapus.js"></script>
<script type="text/javascript" src="js/game/gameentities/EnemyStarfish.js"></script>
<script type="text/javascript" src="js/game/gameentities/BossCat.js"></script>
<script type="text/javascript" src="js/game/gameentities/BossQuadrapus.js"></script>
<script type="text/javascript" src="js/game/gameentities/BossFrog.js"></script>
<script type="text/javascript" src="js/game/gameentities/BossStarfish.js"></script>
<script type="text/javascript" src="js/game/gameentities/BossTimelord.js"></script>
<script type="text/javascript" src="js/game/gameentities/ArmQuadrapus.js"></script>
<script type="text/javascript" src="js/game/gameentities/HealthBar.js"></script>
<script type="text/javascript" src="js/game/gameentities/GlitterCannon.js"></script>
<script type="text/javascript" src="js/game/gameentities/Platform.js"></script>
<script type="text/javascript" src="js/game/gameentities/Explosion.js"></script>
